table, th, td {
  border: 1px solid #888;
}

td {
  text-align:center;
}

.toggle .header {
    display: block;
    clear: both;
    cursor: pointer;
    font-weight: bold; 
}

.toggle .header:before {
   font-family: FontAwesome, "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
   content: "\f0da \00a0 Show "; 
   display: inline-block;
   font-size: 1.1em;
}

.toggle .header.open:before {
   content: "\f0d7 \00a0 Hide "; 
}

.header p {
    display: inline-block;
    font-size: 1.1em;
    margin-bottom: 8px;
}
